.floor {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(images/0/floor.png);
    background-size: contain;
}

.board {
    position: relative;
}

.bug {
    position: absolute;
    width: 48px;
    height: 48px;
    transition: top 200ms, left 200ms, transform 200ms;
}

.bug .power {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
}

.bug.team0 .power .arc {
    stroke: #5c6bc0;
}

.bug.team1 .power .arc {
    stroke: #ef5350;
}

.power .arc {
    stroke-dasharray: 251 251; /* Math.PI * 2 * R */
    transform-origin: 50% 50%;
    stroke-width: 6px;
}

.power .arc1 {
    transform: rotate(90deg);
}

.power .arc2 {
    transform: rotate(90deg) scaleY(-1);
}

.bug.up.team0 {
    background-image: url(images/0/0.png);
    background-size: contain;
}

.bug.up.team1 {
    background-image: url(images/0/1.png);
    background-size: contain;
}

.bug.up.queen.team0 {
    background-image: url(images/0/2.png);
    background-size: contain;
}

.bug.up.queen.team1 {
    background-image: url(images/0/3.png);
    background-size: contain;
}

.bug.down.team0 {
    background-image: url(images/0/4.png);
    background-size: contain;
}

.bug.down.team1 {
    background-image: url(images/0/5.png);
    background-size: contain;
}

.bug.down.queen.team0 {
    background-image: url(images/0/6.png);
    background-size: contain;
}

.bug.down.queen.team1 {
    background-image: url(images/0/7.png);
    background-size: contain;
}

.bug.sick.up.team0 {
    background-image: url(images/0/8.png);
    background-size: contain;
}

.bug.sick.up.team1 {
    background-image: url(images/0/9.png);
    background-size: contain;
}

.bug.sick.up.queen.team0 {
    background-image: url(images/0/10.png);
    background-size: contain;
}

.bug.sick.up.queen.team1 {
    background-image: url(images/0/11.png);
    background-size: contain;
}

.bug.sick.down.team0 {
    background-image: url(images/0/12.png);
    background-size: contain;
}

.bug.sick.down.team1 {
    background-image: url(images/0/13.png);
    background-size: contain;
}

.bug.sick.down.queen.team0 {
    background-image: url(images/0/14.png);
    background-size: contain;
}

.bug.sick.down.queen.team1 {
    background-image: url(images/0/15.png);
    background-size: contain;
}

.food {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(images/0/food0.png);
    background-size: contain;
}

.trash {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(images/0/trash0.png);
    background-size: contain;
}

.net {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(images/0/slipper.png);
    background-size: contain;
    opacity: 0.4;
}

.teleport {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url(images/0/teleport_in.png);
    background-size: contain;
}

.to-up {
    transform: rotate(0deg);
}

.to-right {
    transform: rotate(90deg);
}

.to-down {
    transform: rotate(180deg);
}

.to-left {
    transform: rotate(270deg);
}

.counts {
    position: relative;
    height: 8px;
    display: flex;
    align-items: stretch;
}

.blue-solder-count {
    height: 100%;
    background-color: #5c6bc0;
    flex: 0 0 auto;
}

.blue-queen-count {
    height: 100%;
    background-color: #283593;
    flex: 0 0 auto;
}

.counts-divider {
    background-color: #eeeeee;
    flex: 1 0 auto;
}

.red-solder-count {
    height: 100%;
    background-color: #ef5350;
    flex: 0 0 auto;
}

.red-queen-count {
    height: 100%;
    background-color: #c62828;
    flex: 0 0 auto;
}