.floor {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(images/0/floor.png);
}

.board {
    position: relative;
}

.bug {
    position: absolute;
    width: 64px;
    height: 64px;
}

.bug.up.team0 {
    background-image: url(images/0/0.png);
}

.bug.up.team1 {
    background-image: url(images/0/1.png);
}

.bug.up.queen.team0 {
    background-image: url(images/0/2.png);
}

.bug.up.queen.team1 {
    background-image: url(images/0/3.png);
}

.bug.down.team0 {
    background-image: url(images/0/4.png);
}

.bug.down.team1 {
    background-image: url(images/0/5.png);
}

.bug.down.queen.team0 {
    background-image: url(images/0/6.png);
}

.bug.down.queen.team1 {
    background-image: url(images/0/7.png);
}

.bug.sick.up.team0 {
    background-image: url(images/0/8.png);
}

.bug.sick.up.team1 {
    background-image: url(images/0/9.png);
}

.bug.sick.up.queen.team0 {
    background-image: url(images/0/10.png);
}

.bug.sick.up.queen.team1 {
    background-image: url(images/0/11.png);
}

.bug.sick.down.team0 {
    background-image: url(images/0/12.png);
}

.bug.sick.down.team1 {
    background-image: url(images/0/13.png);
}

.bug.sick.down.queen.team0 {
    background-image: url(images/0/14.png);
}

.bug.sick.down.queen.team1 {
    background-image: url(images/0/15.png);
}

.food {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(images/0/food0.png);
}

.trash {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(images/0/trash0.png);
}

.net {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(images/0/slipper.png);
    opacity: 0.4;
}

.teleport {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url(images/0/teleport_in.png);
}

.to-up {
    transform: rotate(0deg);
}

.to-right {
    transform: rotate(90deg);
}

.to-down {
    transform: rotate(180deg);
}

.to-left {
    transform: rotate(270deg);
}